td {
    padding: 0px !important;
}

th {
    text-align: center !important;
    border-right: 2px solid #ddd !important;
    background: white !important;
}

table > thead > tr:first-child > th:first-child {
    position: absolute;
    display: inline-block;
    width: 202px;
    z-index: 10;
}

table > tbody > tr > td:first-child {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 200px;
    z-index: 10;
}

table > tbody > tr > td:nth-child(2) {
    padding-left: 200px !important;
}

table > thead > tr > th:nth-child(2) {
    padding-left: 200px !important;
}

div.panels-container {
    width: 100%;
    overflow: scroll;
}
