<md-toolbar color="primary" style="font-weight:200;font-size:100%">
  <span><a style="font-weight:400;font-size:120%" class="toolbar" [routerLink]="['']">Matab - Dr. M. H. Mandegar</a></span>
  <span class="fill-remaining-space"></span>
  <span *ngIf="!auth"><a  class="toolbar" [routerLink]="['login']"><span class="fa fa-sign-in"></span> Login</a></span>
  <span *ngIf="auth"><a  class="toolbar" (click)="logout()">{{display_name}} <i class="fa fa-sign-out"></i> Logout</a></span>
</md-toolbar>
<nav md-tab-nav-bar>
  <a *ngFor="let tab of tabs" md-tab-link
     [routerLink]="[tab.path]"
     [active]="isActive([tab.path])">
    {{ tab.label }}<span *ngIf="pid && tab.path==='patient'"><i class="fa fa-user"></i> {{firstname}} {{surname}}</span>
  </a>
</nav>
<div *ngIf="showError" style="width:100%;background:darkred;color:white"><i class="fa fa-close" style="padding:5px" (click)="closeError()"></i> {{error}}</div>
<router-outlet></router-outlet>