<md-toolbar color="primary" style="font-weight:200;font-size:100%">
  <span><a style="font-weight:400;font-size:120%" class="toolbar" [routerLink]="['']">Matab - Dr. M. H. Mandegar</a></span>
  <span class="fill-remaining-space"></span>
  <span *ngIf="!auth"><a  class="toolbar" [routerLink]="['login']"><span class="fa fa-sign-in"></span> Login</a></span>
  <span *ngIf="auth"><a  class="toolbar" (click)="logout()">{{display_name}} <i class="fa fa-sign-out"></i> Logout</a></span>
</md-toolbar>
<nav *ngIf="auth" md-tab-nav-bar>
  <a md-tab-link *ngIf="isDoctor" [routerLink]="['doctorPortal']" routerLinkActive #doctorLink="routerLinkActive" [active]="doctorLink.isActive">Current Patient</a>
  <a md-tab-link *ngIf="isDoctor" [routerLink]="['visit']" routerLinkActive #doctorVisitsLink="routerLinkActive" [active]="doctorVisitsLink.isActive">Refer</a>
  <a md-tab-link *ngIf="!isDoctor" [routerLink]="['patient']" routerLinkActive #patientLink="routerLinkActive" [active]="patientLink.isActive">Patient<span *ngIf="!pid">s</span><span *ngIf="pid">: <i class="fa fa-user"></i> {{firstname}} {{surname}} - {{idNumber}}</span></a>
  <a md-tab-link *ngIf="!isDoctor" [routerLink]="['scans']" routerLinkActive #scansLink="routerLinkActive" [active]="scansLink.isActive">Scans</a>
  <a md-tab-link *ngIf="!isDoctor" [routerLink]="['visit']" routerLinkActive #visitLink="routerLinkActive" [active]="visitLink.isActive">Visits</a>
</nav>
