<md-card class="outerCard">
    <md-card-title class="cardTitle">صف انتظار</md-card-title>
    <md-grid-list cols="4">
        <md-grid-tile *ngFor="let drList of waitings | keys">
            <md-card style="width: 100%;height: 100%;">
                <md-card-title>{{drList.value[0].display_name}}</md-card-title>

                <md-card-content *ngFor="let waiting of drList.value">
                  {{waiting.firstname}} {{waiting.surname}}
                </md-card-content>

            </md-card>
        </md-grid-tile>

    </md-grid-list>

</md-card>
