<md-card>
  <md-card-content>
    <md-input-container>
      <input mdInput focus placeholder="First Name" (change)="isReadyToAddPatient()" (keyup)="isReadyToAddPatient()" #fname>
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput placeholder="Sur Name" (change)="isReadyToAddPatient()" (keyup)="isReadyToAddPatient()" #sname>
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput placeholder="ID Number" (change)="isReadyToAddPatient()" (keyup)="isReadyToAddPatient()" #idnumber>
    </md-input-container>
  </md-card-content>
    <button md-raised-button (click)="addNewPatientIndex()" [(disabled)]="addIsDisabledFlag">Add</button>
</md-card>
