<md-card [ngStyle]="{'border':selected ? 'solid 3px #607d8b' : null,'padding':selected?'0px':'3px',margin:hasVisit?null:'7px'}" pDraggable="p-cards" (onDragStart)="dragStart()" dragHandle="md-card-title">
    <md-card-title [ngStyle]="{'background':emgy?'palevioletred':nocardio?'#F1F1B9':vip?'palegreen':null}">{{name}}
        <button *ngIf="activeVisit" md-raised-button (click)="endVisit()" [disabled]="endVisitDisabled"><md-icon fontSet="fa" fontIcon="fa-close"></md-icon></button>
    </md-card-title>

    <md-card-content (click)="select()">
        <span *ngIf="!hasVisit">
            <md-input-container>
                <input mdInput [(ngModel)]="pageNumber" placeholder="Page #" type="number" (ngModelChange)="modelChange()">
            </md-input-container>
            <md-input-container>
                <input mdInput [(ngModel)]="notebookNumber" placeholder="NB #" type="number" (ngModelChange)="modelChange()">
            </md-input-container>
        </span>
        <span *ngIf="hasVisit">
            <table>
                <tr [ngStyle]="{'background':waitingTimerColor}">
                    <td>{{value.start_time ? 'Visit Time' : 'Waiting Time'}}</td>
                    <td>{{timer}}</td>
                </tr>
                <tr *ngIf="value.end_time">
                    <td>Visit Ended At</td>
                    <td>{{endTime}}</td>
                </tr>
                <tr *ngIf="referredBy">
                    <td>Referred by:</td>
                    <td>{{referredBy}}</td>
                </tr>
            </table>
        </span>
    </md-card-content>
    <md-card-actions *ngIf="hasVisit">
        <md-checkbox [(ngModel)]="emgy" (ngModelChange)="emgyChecked()">Emgy</md-checkbox>
        <md-checkbox [(ngModel)]="vip" (ngModelChange)="vipChecked()">VIP</md-checkbox>
        <md-checkbox [(ngModel)]="nocardio" (ngModelChange)="nocChecked()">No Cardio</md-checkbox>
    </md-card-actions>
</md-card>