<md-card>
    <md-card-title (click)="enableUpdate()" style="cursor: pointer;">{{firstname}} {{surname}} - {{age}}<span
            *ngIf="isVip"
            style="padding: 5px;background-color: darkred;color:white;text-weight:bold;border-radius: 5px;font-size:75%">VIP</span>
    </md-card-title>
    <table class="table info">
        <tr>
            <th colspan="2">Identity</th>
        </tr>
        <tr>
            <td>Birthday :</td>
            <td><app-jalali-date-input [inDate]="dob" [isInput]="false"></app-jalali-date-input></td>
        </tr>
        <tr>
            <td>Profession :</td>
            <td>{{profession}}</td>
        </tr>
    </table>
    <table class="table info">
        <tr>
            <th colspan="2">Surgery</th>
        </tr>
        <tr>
            <td>Surgery Date :</td>
            <td><app-jalali-date-input [inDate]="surgeryDate" [isInput]="false"></app-jalali-date-input></td>
        </tr>
        <tr>
            <td>Surgeon :</td>
            <td>{{surgeon}}</td>
        </tr>
        <tr>
            <td>Hospital :</td>
            <td>{{hospital}}</td>
        </tr>
    </table>
    <table class="table info">
        <tr>
            <th colspan="2">Angiography</th>
        </tr>
        <tr>
            <td>Angiography Date :</td>
            <td><app-jalali-date-input [inDate]="angioDate" [isInput]="false"></app-jalali-date-input></td>
        </tr>
        <tr>
            <td>Angiographer :</td>
            <td>{{angiographer}}</td>
        </tr>
    </table>
    <table class="table info">
        <tr>
            <th colspan="2">Referral</th>
        </tr>
        <tr>
            <td>Referred By :</td>
            <td>{{referredBy}}</td>
        </tr>
        <tr>
            <td>Description :</td>
            <td>{{referralDescription}}</td>
        </tr>
    </table>
</md-card>
