.left-col{
    text-align: right;
    font-weight:bold;
}

.right-col{
    text-align: left;
}

table.info{
    width: 250px;
    display:inline-table;
}

.info th{
    background-color: gainsboro;
}
.info td{
    background-color: ghostwhite;
}