<md-card>
 <md-card-title style="font-size: small; font-weight: bold">Surgery and Angiography Information</md-card-title>
  <md-card style="font-size: small;">
    <table class="table" style="width: 250px">
      <tr>
        <td class="left-col">Birthday : </td>
        <td class="right-col">{{dob}}</td>
      </tr>
      <tr>
        <td class="left-col">Referred by : </td>
        <td class="right-col">{{referredBy}}</td>
      </tr>
      <tr>
        <td class="left-col">Surgery Date : </td>
        <td class="right-col">{{surgeryDate}}</td>
      </tr>
      <tr>
        <td class="left-col">Surgeon :</td>
        <td class="right-col">{{surgeon}}</td>
      </tr>
      <tr>
        <td class="left-col">Hospital :</td>
        <td class="right-col">{{hospital}}</td>
      </tr>
      <tr>
        <td class="left-col">Angiography Date :</td>
        <td class="right-col">{{angioDate}}</td>
      </tr>
      <tr>
        <td class="left-col">Angiographer :</td>
        <td class="right-col">{{angiographer}}</td>
      </tr>
    </table>
  </md-card>
</md-card>
