<div class="flex-container"
     fxLayout="row" fxLayout.xs="column"
     fxLayoutAlign="start start">
    <div class="flex-item" fxFlex="20" fxFlex.xs="100" style="text-align: right;padding:10px">
            <md-button-toggle-group multiple [vertical]="true">
                <md-button-toggle *ngFor="let row of selector.values;let i=index" (change)="visitChange($event)"
                                  [checked]="vid===row" [value]="row"
                                  [class.shared]="selector.display[i].sharingInfo.by">
                    {{selector.display[i].text}}<span *ngIf="selector.display[i].sharingInfo.by"> - Shared by {{selector.display[i].sharingInfo.by}}</span>
                </md-button-toggle>
            </md-button-toggle-group>
    </div>
    <div class="flex-item" fxFlex="80" fxFlex.xs="100">
        <app-doctor-portal *ngIf="vid" [externalVid]="vid"></app-doctor-portal>
    </div>
</div>